fastapi==0.115.6
uvicorn[standard]==0.34.0
python-multipart==0.0.20

pydantic==2.10.5
pydantic-settings==2.7.1
python-dotenv==1.0.1

sqlalchemy==2.0.36
psycopg2-binary==2.9.10

PyMuPDF==1.24.14
Pillow==11.0.0
pytesseract==0.3.13
easyocr==1.7.2

voyageai==0.3.3
numpy==2.2.1

prometheus-client==0.21.1
redis==5.2.1
rq==2.0.0
